<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My VM Maneger</title>
  <meta name="description" content="A VM Maneger">
  <meta name="author" content="Edson">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" > -->
  

</head>

<body class={{ ["bg-secondary", "bg-success","bg-warning","bg-primary","bg-info","bg-danger"]|random }}>
  <!-- <script src="js/scripts.js"></script> -->
  <div class="container text-center mt-5">
    <div class="card text-white bg-dark border-info shadow-lg">
      <div class="card-body">
        
        <div class="card-header pd-5"><h1>Virtual Machines</h1></div>
        
        <div class="mt-2 mb-4"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModalCenter">New VM</button></div>
        
        
        <div class="accordion" id="accordionExample">
          {% for vm in vmList %}

          <div class="card text-left bg-secondary">
            <div class="card-header collapsed" data-target="{{'#collapse{0}'.format(loop.index)}}"  data-toggle="collapse"  id={{"heading{0}".format(loop.index)}}>
              <h2 class="mb-0 text-center text-light"><span class="badge {{ "badge-primary" if 'Windows' in vm['Guest OS'] else 'badge-warning'}} ">{{vm['Name']}}</span></h2>
            </div>
            <div id={{"collapse{0}".format(loop.index)}} class="collapse" aria-labelledby={{"heading{0}".format(loop.index)}} data-parent="#accordionExample">
              <div class="card-body">
                
                <div class="row ml-1"><p class="font-weight-bold mr-2">Name:</p> <p>{{vm["Name"]}}</p></div>
                <div class="row ml-1"><p class="font-weight-bold mr-2">Guest OS:</p> <p>{{vm["Guest OS"]}}</p></div>
                <div class="row ml-1"><p class="font-weight-bold mr-2">Memory size:</p> <p>{{vm["Memory size"]}}</p></div>
                <div class="row ml-1"><p class="font-weight-bold mr-2">VRAM size:</p> <p>{{vm["VRAM size"]}}</p></div>
                <div class="row ml-1"><p class="font-weight-bold mr-2">Number of CPUs:</p> <p>{{vm["Number of CPUs"]}}</p></div>
                <div class="row ml-1"><p class="font-weight-bold mr-2">Log folder:</p> <p>{{vm["Log folder"][:vm["Log folder"].rfind('\\')+1]}}</p></div>
                <hr>
                <form  action="/modifyVM" method="POST">
                  <div class="form-row">
                    
                    <div class="form-group col-md-6">
                      <label for={{"Name{0}".format(loop.index)}} class="font-weight-bold">Name</label>
                      <input type="text" class="form-control" id={{"Name{0}".format(loop.index)}} name="name" readonly value="{{vm['Name']}}"}>
                    </div>
                    <div class="form-group col-md-6">
                      <label for={{"Guest_OS{0}".format(loop.index)}} class="font-weight-bold">Guest OS</label>
                      <input type="text" class="form-control" id={{"Guest_OS{0}".format(loop.index)}} name="guest_os" readonly value="{{vm['Guest OS']}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for={{"Memory_size{0}".format(loop.index)}} class="font-weight-bold">Memory size</label>
                      <input type="number" class="form-control" id={{"Memory_size{0}".format(loop.index)}} name="memory_size" value="{{vm['Memory size'][:-2]}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for={{"VRAM_size{0}".format(loop.index)}} class="font-weight-bold">VRAM size</label>
                      <input type="number" class="form-control" id={{"VRAM_size{0}".format(loop.index)}} name="vram_size" value="{{vm['VRAM size'][:-2]}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for={{"Number_of_CPUs{0}".format(loop.index)}} class="font-weight-bold">Number of CPUs</label>
                      <input type="number" class="form-control" id={{"Number_of_CPUs{0}".format(loop.index)}} name="number_of_cpus" value="{{vm['Number of CPUs']}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for={{"Log_folder{0}".format(loop.index)}} class="font-weight-bold">Log folder</label>
                      <input type="text" class="form-control" id={{"Log_folder{0}".format(loop.index)}} name="log_folder" readonly value="{{vm['Log folder'][:-4]}}">
                    </div>
                    
                  </div>
                  <div>
                    <button type="submit" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          
      </div>
      <div class="card-footer bg-transparent border-info">Created by Edson Cristovam - UFRPE</div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create Virtual Machine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-light" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        <form action="/createVM" method="POST">
          <div class="form-row">
            
            <div class="form-group col-md-6">
              <label for="new_name" class="font-weight-bold">Name</label>
              <input type="text" class="form-control bg-light" id="new_name" name="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="new_guest_os" class="font-weight-bold">Guest OS</label>
              <select class="form-control" id="new_guest_os" name="guest_os">
                <option selected>Linux</option>
                <option>WindowsXP</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="new_memory_size" class="font-weight-bold">Memory size</label>
              <input type="number" class="form-control bg-light" id="new_memory_size" name="memory_size"  required>
            </div>
            <div class="form-group col-md-6">
              <label for="new_vram_size" class="font-weight-bold">VRAM size</label>
              <input type="number" class="form-control bg-light" id="new_vram_size" name="vram_size" required>
            </div>
            <div class="form-group col-md-6">
              <label for="new_number_of_cpus" class="font-weight-bold">Number of CPUs</label>
              <input type="number" class="form-control bg-light" id="new_number_of_cpus" name="number_of_cpus" required>
            </div>
            <div class="form-group col-md-6">
              <label for="new_log_folder" class="font-weight-bold">Log folder</label>
              <input type="text" class="form-control bg-light" id="new_log_folder" name="log_folder" required>
            </div>
            
          </div>
      </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>